<header>
  <div class="container">

    <div class="menu">
      <div class="dropdown">
        <button class="header-btn">Cadastros</button>
        <div class="dropdown-content">
          <a routerLink="./cadastro-peca" routerLinkActive="active">Peça</a>
          <a routerLink="./cadastro-estacao" routerLinkActive="active">Estação</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="header-btn">Lista</button>
        <div class="dropdown-content">
          <a routerLink="./lista-peca" routerLinkActive="active">Peça</a>
          <a routerLink="./lista-estacao" routerLinkActive="active">Estação</a>
        </div>
      </div>

      <button class="header-btn" routerLink="/rastreabilidade" routerLinkActive="active">Rastreabilidade</button>
    </div>
    <div class="titulo">
      <h1>Rastreabilidade de Peças</h1>
    </div>

  </div>
</header>
