<div class="container">
  <h1>Cadastro de Peças</h1>
  <div class="peca-form">
    <form (ngSubmit)="submitPeca()" #formRef="ngForm">
      <div class="input-container">
        <label for="peca-partnumber">Partnumber:</label>
        <input class="text-input" type="text" id="peca-partnumber" name="peca-partnumber" placeholder="Digite o Partnumber da Peça" [(ngModel)]="novaPeca.partnumber" required>
      </div>
      <div class="input-container">
        <label for="peca-descricao">Descrição:</label>
        <input class="text-input" type="text" id="peca-descricao" name="peca-descricao" placeholder="Digite a Descrição da Peça" [(ngModel)]="novaPeca.descricao" required>
      </div>
      <div>
        @if (existe) {
          <span style="color: red; font-size: 20px;">PartNumber já existe!</span>
        }
      </div>
      <input class="form-button" type="submit" value="Cadastrar" [disabled]="!formRef.valid">
    </form>
  </div>
</div>

