<div class="container">
  <h2>Cadastro de Peças</h2>
  <div class="peca-form">
    <form (ngSubmit)="submitPeca()" #formRef="ngForm">
      <label for="peca-partnumber">Partnumber:</label>
      <input type="text" id="peca-partnumber" name="peca-partnumber" placeholder="Digite o Partnumber da Peça" [(ngModel)]="novaPeca.partnumber" required>
      <label for="peca-descricao">Descrição:</label>
      <input type="text" id="peca-descricao" name="peca-descricao" placeholder="Digite a Descrição da Peça" [(ngModel)]="novaPeca.descricao" required>
      <input class="form-btn" type="submit" value="Cadastrar" [disabled]="!formRef.valid">
    </form>
    @if (existe) {
      <span>PartNumber já existe!</span>
    }
  </div>
</div>

