<div class="container">
  <h1 class="title-table">Histórico de Movimentações</h1>
  <div class="container-form">
    <div class="peca-form">
      <form (ngSubmit)="buscaMovimentos()" #formRef="ngForm">
        <div class="form-row">
          <div class="input-container">
            <input class="text-input" type="text" id="peca-partnumber" name="peca-partnumber" placeholder="Partnumber" [(ngModel)]="partnumber" required>
            <label for="peca-partnumber">Partnumber</label>
          </div>
          <input class="form-button" type="submit" value="Buscar" [disabled]="!formRef.valid">
        </div>
      </form>
    </div>
  </div>

  <div class="container-table">
    <table>
      <thead>
        <th scope="col" style="border-radius: 15px 0px 0px 0px;">PartNumber</th>
        <th scope="col">Estação de Origem</th>
        <th scope="col">Estação de Destino</th>
        <th scope="col">Data da Movimentação</th>
        <th scope="col">Responsável</th>
        <th scope="col" style="border-radius: 0px 15px 0px 0px;">Observação</th>
      </thead>
      <tbody>
        @for (item of listaMovimentacoes; track item) {
          <tr>
            <td>{{ item.peca.partnumber }}</td>
            @if(item.estacaoOrigem) {
              <td>{{ item.estacaoOrigem.inventario }}</td>
            }
            @else {
              <td>N/A</td>
            }
            <td>{{ item.estacaoDestino.inventario }}</td>
            <td>{{ item.dataMovimentacao | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{ item.responsavel }}</td>
            <td>{{ item.observacao }}</td>
        } @empty {
          <tr>
            <td colspan="6">Nenhuma movimentação encontrada</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


