table, td, th {
  border: 1px solid;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.peca-form {
  display: flexbox;
  border-radius: 5px;
  padding: 20px;
}
.peca-form input[type=text] {
  width: 14rem;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-btn {
  width: 100px;
  background-color: #ccc;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
}
.form-btn:disabled {
  background-color: whitesmoke;
  border: 1px solid #ccc;
}
.form-btn:enabled:hover {
  background-color: #aaa;
  cursor: pointer;
}
