<div class="container">
  <h1>Cadastro de Estações</h1>
  <div class="estacao-form">
    <form (ngSubmit)="submitEstacao()" #formRef="ngForm">
      <div class="input-container">
        <label for="estacao-nome">Nome:</label>
        <input class="text-input" type="text" id="estacao-nome" name="estacao-nome" placeholder="Digite o Nome da Estação" [(ngModel)]="novaEstacao.nome" required>
      </div>
      <div class="input-container">
        <label for="estacao-descricao">Descrição:</label>
        <input class="text-input" type="text" id="estacao-descricao" name="estacao-descricao" placeholder="Digite a Descrição da Estação"[(ngModel)]="novaEstacao.descricao" required>
      </div>
      <div class="input-container">
        <label for="estacao-inventario">Inventário:</label>
        <input class="text-input" type="text" id="estacao-inventario" name="estacao-inventario" placeholder="Digite o Inventário da Estação"[(ngModel)]="novaEstacao.inventario" required>
      </div>
      <div class="input-container">
        <label for="estacao-ordem">Ordem:</label>
        <input class="text-input" type="number" id="estacao-ordem" name="estacao-ordem" placeholder="Digite a Ordem da Estação"[(ngModel)]="novaEstacao.ordem" required>
      </div>
      <div>
        @if (existe) {
          <span style="color: red; font-size: 20px;">Inventário já existe!</span>
        }
      </div>
      <input class="form-button" type="submit" value="Cadastrar" [disabled]="!formRef.valid">
    </form>
  </div>
</div>

