<div class="container">
  <h2>Estações Cadastradas</h2>

  <table>
    <thead>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Inventário</th>
      <th scope="col">Ordem</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ações</th>
    </thead>
    <tbody>
      @for (item of listaEstacoes; track item) {
        <tr>
          <td>{{ item.nome }}</td>
          <td>{{ item.descricao }}</td>
          <td>{{ item.inventario }}</td>
          <td>{{ item.ordem }}</td>
          @if(item.ativo) {
            <td>Sim</td>
          }
          @else {
            <td>Não</td>
          }
          <td class="img-tb">
            <a [routerLink]="['/editar-estacao', item.id]" routerLinkActive="active" >
              <img src="/images/edit-icon.png" alt="edit-icon" width="24">
            </a>
            <a [routerLink]="['/deletar-estacao', item.id]" routerLinkActive="active" >
              <img src="/images/delete-icon.png" alt="delete-icon" width="24">
            </a>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="2" class="text-center">Nenhuma estação cadastrada</td>
        </tr>
      }
    </tbody>
  </table>
</div>

