<div class="container">
  <h2>Edição da Estação: {{ estacao.inventario }}</h2>
  <div class="estacao-form">
    <form (ngSubmit)="submitEditEstacao()" #formRef="ngForm">
      <div class="input-container">
        <label for="estacao-nome">Nome:</label>
        <input class="text-input" type="text" id="estacao-nome" name="estacao-nome" placeholder="Digite o Nome da Estação" [(ngModel)]="estacao.nome" required>
      </div>
      <div class="input-container">
        <label for="estacao-descricao">Descrição:</label>
        <input class="text-input" type="text" id="estacao-descricao" name="estacao-descricao" placeholder="Digite a Descrição da Estação"[(ngModel)]="estacao.descricao" required>
      </div>
      <div class="input-container">
        <label for="estacao-inventario">Inventário:</label>
        <input class="text-input" type="text" id="estacao-inventario" name="estacao-inventario" placeholder="Digite o Inventário da Estação"[(ngModel)]="estacao.inventario" required>
      </div>
      <div class="input-container">
        <label for="estacao-ordem">Ordem:</label>
        <input class="text-input" type="number" id="estacao-ordem" name="estacao-ordem" placeholder="Digite a Ordem da Estação"[(ngModel)]="estacao.ordem" required>
      </div>
      <div class="input-container">
        <label for="estacao-ativo">Ativo:</label>
        <input type="checkbox" id="estacao-ativo" name="estacao-ativo" [(ngModel)]="estacao.ativo" required>
      </div>
      <input class="form-button" type="submit" value="Salvar">
    </form>
  </div>
</div>

