<div class="container">
  <h1>Edição da Peça: {{ peca.partnumber }}</h1>
  <div class="peca-form">
    <form (ngSubmit)="submitEditPeca()" #formRef="ngForm">
      <div class="input-container">
        <label for="peca-partnumber">Partnumber:</label>
        <input class="text-input" type="text" id="peca-partnumber" name="peca-partnumber" placeholder="Digite o Partnumber da Peça" [(ngModel)]="peca.partnumber" required>
      </div>
      <div class="input-container">
        <label for="peca-descricao">Descrição:</label>
        <input class="text-input" type="text" id="peca-descricao" name="peca-descricao" placeholder="Digite a Descrição da Peça" [(ngModel)]="peca.descricao" required>
      </div>
      <div class="input-container">
        <label for="peca-ativo">Ativo:</label>
        <input type="checkbox" id="peca-ativo" name="peca-ativo" [(ngModel)]="peca.ativo" required>
      </div>
      <input class="form-button" type="submit" value="Salvar">
    </form>
  </div>
</div>

